---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>JEFF FACILONA DE MEIRDA :D</h1>
	</main>
</Layout>

<style>
	
	main {
		width: 100%;
		height: 100vh;
	}

</style>